{% extends 'master.html' %}

{% block title %}
 <title>About Us</title>
{% endblock %}

{% block content %}
  <h2 class="text-center text-danger">Our team</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore explicabo non quia sint sunt. Alias aliquid animi asperiores consectetur deserunt facilis ipsam nam numquam quod sequi soluta temporibus velit, voluptates.</span><span>Amet aperiam blanditiis debitis deserunt dolores earum error et, ex excepturi illo ipsa ipsum itaque iure magnam necessitatibus nesciunt omnis placeat quis quisquam reiciendis saepe sed, tempora tempore totam unde.</span><span>At culpa debitis ea non omnis repudiandae tempore. Asperiores aspernatur autem consequuntur dicta dolor dolore, eaque eius est, expedita ipsam iste nesciunt nisi numquam pariatur perferendis provident sit sunt, veniam.</span></p>
    
    <h2 class="text-center text-success">Our Products</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae blanditiis deserunt eligendi exercitationem, laboriosam nostrum odio pariatur, quis quo recusandae reiciendis saepe tempore velit, voluptas! In magni mollitia similique!</span><span>Commodi distinctio dolore ducimus expedita harum iure laudantium maiores nihil? Alias consequuntur culpa cumque deserunt dolor dolorum exercitationem fuga ipsam magni mollitia, nobis pariatur quam sint tenetur, veritatis voluptas voluptate.</span></p>


{% endblock %} 