{% extends 'master.html' %}

{% block title %}
 <title>Home</title>
{% endblock %}


{% block content %}
    <h2 class="text-center text-danger">Welcome to Mara Resort Camp</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto consectetur doloremque eos esse et ex ipsam, laborum laudantium maiores modi necessitatibus nostrum nulla quod repellendus rerum, suscipit, vitae voluptates!</span><span>Ad consequatur delectus deserunt dolorum esse fuga illum iste itaque minus molestias mollitia neque nihil nobis officiis quo quod soluta, suscipit. Accusantium consequatur earum minima perspiciatis qui soluta tempore ut!</span><span>Amet dolore fuga illum iusto labore nam nihil quidem veniam? Adipisci animi delectus eaque illo necessitatibus, repellat unde voluptas? At atque corporis deserunt dolores labore obcaecati quasi quia reprehenderit totam.</span></p>
{% endblock %}